{% extends 'blog_v2/index_blog.html' %}
{% block content %}

      <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form action="form/" method="post">
                <div class="form-group">
                    <label>
                        <span>姓名 :</span>
                        <input class="form-control" rows="1" placeholder="your name"  id='name' name="name"/>
                    </label>
                </div>
                
                <div class="form-group">
                    <label>
                        <span>信箱 :</span>
                        <input class="form-control" rows="1" placeholder="your email"  id='email' name="email"/>
                    </label>
                </div>
                
                <div >
                    <label class="form-group">
                        <span>留言 :</span>
                        <textarea class="form-control" rows="3" id='message' name="message"></textarea>
                    </label>
                </div>
                
                <div class="form-group">
                        <span>留言 :</span>
                        <textarea class="form-control" rows="3" id='message' name="message"></textarea>
                </div>
                
                <div class="">
                    <label>
                        <span>&nbsp;</span>
                        <input type="submit" class="btn btn-primary" value="提交"/>
                    </label>
                </div>
                
                
<!--                 <button type="submit" class="btn btn-primary">Submit</button> -->
                
    {% csrf_token %}
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>

        <!-- Comment with nested comments -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

          </div>
        </div>
{% endblock %}