{% extends 'blog_v2/default/base.html' %}

{% block content %}
{% with num=1 %}
<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h1 class="my-4">Spm
        <small>Blog</small>
      </h1>

      <!-- Blog Post -->          
      {% for bg in blog %}
<!--       <a href="post_test/{{ bg.id }}" style="text-decoration:none;color:#000000;">           -->
      <a href="{% url 'post' bg.id %}" style="text-decoration:none;color:#000000;">  

          <div class="card mb-4">
            {% if bg.src != None %}            
            <img class="card-img-top" src="{{bg.tag}}{{bg.src.url}}" alt="Card image cap">            
            {% else %}
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"/>
            {% endif %}

            <div class="card-body">
              <h2 class="card-title">{{bg.title}}</h2>
              <p class="card-text">{{bg.content}}</p>

              <button type="button" style='
              width: 25px;
              height:25px;
              background: url("https://img.icons8.com/dotty/25/000000/more.png") no-repeat;
              border-style: none;'></button>
            </div>

            <div class="card-footer text-muted">  
                
              
<!--               <a href="{% url 'post_tag' post_id=bg.id get_from='post' %}  " style="float:left;text-decoration:none;">{{bg.tag}}</a>  -->
              <a href="{% url 'post_tag' bg.id 'post' %}" style="float:left;text-decoration:none;">{{bg.tag}}</a> 
              <div style="float:right">{{bg.date|date:"Y.m.d"}}</div>  
            </div>
          </div>   
       </a>
      {% endfor %}
      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
      </ul>
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              &nbsp&nbsp
              <button type="button" style='
              width: 40px;
              height:40px;
              background: url("https://img.icons8.com/wired/40/000000/search.png") no-repeat;
              border-style: none;'></button>
            </span>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Catalog</h5>
        <div class="card-body">
          <div class="row">
            {% for catalog in catalog_tag %}
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
<!--                             <a href="#" style="text-decoration:none;">{{catalog.tag}}</a> -->
                            <a href="{% url 'post_tag' catalog.id 'tag'%}" style="text-decoration:none;">{{catalog.tag}}</a>
                        </li>
                    </ul>
                </div>  
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Working</h5>
        <div class="card-body">
            
          <a href="{% url 'post' work.id %}" style="text-decoration:none;">   
            {{work}}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
{% endwith %}
{% endblock content %}
